.text-margin-0 {
    margin-left: 0px;
    outline-style: none;
    vertical-align: middle;
    white-space: nowrap;
 }
 
 .text-margin-1 {
    margin-left: 15px;
    outline-style: none;
    vertical-align: middle;
    white-space: nowrap;
}
 
 .text-margin-2 {
    margin-left: 30px;
    outline-style: none;
    vertical-align: middle;
    white-space: nowrap;
 }
 
 .text-margin-3 {
    margin-left: 45px;
    outline-style: none;
    vertical-align: middle;
    white-space: nowrap;
 }

 .cursor-default {
    cursor: default;
 }