<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
    <form #editForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom de la section</label>
        <input type="nom" class="form-control" id="nom" aria-describedby="nomHelp" placeholder="Veuillez saisir un nom" [(ngModel)]="model.nom" name="nom">
        <small id="nomHelp" class="form-text text-muted">Ce nom doit être unique</small>
      </div>
      <div class="form-group">
        <label for="icone">Sélection de l'icone</label>
        <select class="form-control" id="iconeSelect" [(ngModel)]="model.icone" name="icone">
          <option value="desktop">Informatique</option>
          <option value="globe">Planète</option>
          <option value="coffee">Café</option>
        </select>
      </div>
      <div *ngIf="model.iconeSelect != null">
        <div class="form-group">
          <label for="icone">Preview</label>
          <br />
          <fa-icon class="icon-preview" *ngIf="model.icone != null" [icon]="['fa', model.icone]" [size]="this.faSizeProp"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label for="typeSelect">Sélection du type</label>
        <select class="form-control" id="type" [(ngModel)]="model.type" name="type">
          <option value="none">Défaut</option>
          <option value="astral">Thème astral</option>
          <option value="forum">Index du forum</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input 
                id="swHorsLigne"
                type="checkbox" 
                aria-label="Checkbox for following text input"
                [(ngModel)]="model.swHorsLigne"
                name="swHorsLigne">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
      </div>
      <button 
      [disabled]="!editForm.dirty" 
      type="submit" 
      class="btn btn-primary"
      (ngSubmit)="createSection()"
    >Créer section</button>
    </form>
  </div>
</div>