<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
    <form #editForm="ngForm" (ngSubmit)="submitForm()" (change)="setDirtyFlag()">
      <div class="form-group">
        <label for="nom">Nom de la section</label>
        <input type="nom" class="form-control" id="nom" aria-describedby="nomHelp" placeholder="Veuillez saisir un nom (ce nom doit être unique)" [(ngModel)]="model.nom" name="nom">
        <small 
          id="iconeHelp" 
          class="help text-danger" 
          *ngIf="this.formError.has('Nom')"
        >{{ this.formError.get('Nom') }}</small>
      </div>
      <div class="form-group">
        <label for="icone">Sélection de l'icone</label>
        <select 
          class="form-control custom-select"
          id="icone" 
          [(ngModel)]="model.icone"
          name="icone"
        >
          <option 
            *ngFor="let item of iconesSelectBox; let i = index"
            [value]="item.faValeur"
          >{{ item.nomSelectBox }}
          </option>
        </select>
        <small 
          id="iconeHelp" 
          class="help text-danger" 
          *ngIf="this.formError.has('Icone')"
        >{{ this.formError.get('Icone') }}</small>
      </div>
      <div *ngIf="model.icone != null">
        <div class="form-group">
          <label for="icone">Aperçu</label>
          <br />
          <fa-icon class="icon-preview" *ngIf="model.icone != null" [icon]="['fa', model.icone]" [size]="this.faSizeProp"></fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label for="type">Sélection du type</label>
        <select class="form-control" id="type" [(ngModel)]="model.type" name="type">
          <option value="none">Défaut</option>
          <option value="astral">Thème astral</option>
          <option value="forum">Index du forum</option>
        </select>
        <small 
          id="iconeHelp" 
          class="help text-danger" 
          *ngIf="this.formError.has('Type')"
        >{{ this.formError.get('Type') }}</small>
      </div>
      <div class="form-group">
        <div class="form-group form-check">
          <input 
          class="form-check-input"
          id="swHorsLigne"
          type="checkbox" 
          aria-label="Si hors ligne"
          [(ngModel)]="model.swHorsLigne"
          name="swHorsLigne">
          <label class="form-check-label" for="swHorsLigne">Hors ligne</label>
        </div>        
      </div>
      <button 
      type="submit" 
      class="btn btn-primary"
      >Créer section</button>
    </form>
  </div>
</div>