<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <div class="btn-group-vertical">
        <button class="btn btn-light" routerLink="gestion-pages-nouvelle-section">Création d'une nouvelle section</button>
        <button class="btn btn-light" routerLink="gestion-pages-nouveau-titre-menu">Création d'un titre de menu</button>
        <button class="btn btn-light" routerLink="gestion-pages-nouveau-sous-titre-menu">Création d'un sous titre de menu</button>
        <button class="btn btn-light" routerLink="gestion-pages-nouveau-article">Création d'un article</button>
      </div>
      <br />
      <app-module-gestion-pages-table 
        [section]="section"
        (outputEdit)="edit($event)"
        (outputDelete)="delete($event)"
        (outputUp)="up($event)"
        (outputDown)="down($event)"
      ></app-module-gestion-pages-table>
      <!--
      <table class="table table-borderless">
        <thead>
          <tr class="table-dark">
            <th scope="col"><fa-icon [icon]="faSitemap" [spin]="this.faSpinPropGlobe"></fa-icon> Éléments en ligne</th>
            <th scope="col" colspan="4"></th>          
          </tr>
        </thead>
          <tr>
            <th scope="row"><span class="textSection"><fa-icon [icon]="faDesktop" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Informatique web</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textTitre"><fa-icon [icon]="faPuzzlePiece" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Visual Studio 2017 Community</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textSousTitre"><fa-icon [icon]="faCaretSquareDown" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;C# - Asp.net core 2.2</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commencer un projet</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Swagger</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>   
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Entity framework</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr> 
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;DTO</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>       
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Automapper</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Filtre et tri</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commandes linux</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Intégration continue avec Jenkins</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textTitre"><fa-icon [icon]="faPuzzlePiece" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Visual Studio 2017 Community</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textSousTitre"><fa-icon [icon]="faCaretSquareDown" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Node.js npm</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commandes de base</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Installer webpack</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr> 
 
          <tr>
            <th scope="row"><span class="textTitre"><fa-icon [icon]="faPuzzlePiece" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Linux</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textSousTitre"><fa-icon [icon]="faCaretSquareDown" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Debian</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commandes utile</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>           
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commandes .net</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>   
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Ajouter un utilisateur</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>  
          <tr>
            <th scope="row"><span class="textSection"><fa-icon [icon]="faGlobe" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Thème astral</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>   
          <tr>
            <th scope="row"><span class="textSection"><fa-icon [icon]="faMusic" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;MAO</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>           
          <tr>
            <th scope="row"><span class="textTitre"><fa-icon [icon]="faPuzzlePiece" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Ableton live</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
          <tr>
            <th scope="row"><span class="textSousTitre"><fa-icon [icon]="faCaretSquareDown" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;ClyphX Pro</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>    
          <tr>
            <th scope="row"><span class="textArticle"><fa-icon [icon]="faFileAlt" [spin]="this.faSpinPropGlobe"></fa-icon>&nbsp;Commandes</span></th>
            <td><fa-icon [icon]="faEdit" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faTrashAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelUpAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
            <td><fa-icon [icon]="faLevelDownAlt" [spin]="this.faSpinPropGlobe"></fa-icon></td>
          </tr>
        </tbody>      
      </table>-->
    </div>
  </div>
</div>