<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <ul class="list-unstyled components">
          <p>Administration</p>
          <li><!-- </li>class="active">-->
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion pages</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a href="#">Gestion pages</a>
                  </li>                                                                  
              </ul>
          </li>     
      </ul>

  </nav>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <div class="btn-group-vertical">
        <button class="btn btn-light">Création d'une nouvelle section</button>
        <button class="btn btn-light">Création d'un titre de menu</button>
        <button class="btn btn-light">Création d'un sous titre de menu</button>
        <button class="btn btn-light">Création d'un article</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">#</th>
          <td scope="col" colspan="4"></td>          
        </tr>
      </thead>
      <tbody class="table-light">
        <tr>
          <th scope="row">Informatique web</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Visual Studio 2017 Community</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">C# - Asp.net core 2.2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Commencer un projet</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
        <tr>
          <th scope="row">Swagger</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>   
        <tr>
          <th scope="row">Entity framework</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> 
        <tr>
          <th scope="row">DTO</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>       
        <tr>
          <th scope="row">Automapper</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
        <tr>
          <th scope="row">Filtre et tri</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
        <tr>
          <th scope="row">Commandes linux</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Intégration continue avec Jenkins</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Ableton live</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">ClyphX Pro</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Commandes</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>