<table class="table table-borderless">
  <thead>
    <tr class="table-dark">
      <th scope="col"><fa-icon class="icon-preview" [icon]="['fa', 'sitemap']" [spin]="this.faSpinPropGlobe"></fa-icon> Éléments en ligne</th>
      <th scope="col" colspan="4"></th>          
    </tr>
  </thead>
  <tbody class="table-light">
    <tr 
      *ngFor="let item of sectionEnLigne; let item = index"
    >
      <th scope="row">
        <span class="textSection">
          <fa-icon class="icon-preview" *ngIf="item.icone != null" [icon]="['fa', item.icone]"></fa-icon>&nbsp;{{ item.nom }}
        </span>
      </th>
      <td class="pointerFaIcon"><fa-icon [icon]="['fa', 'edit']" [spin]="this.faSpinPropGlobe"></fa-icon></td>
      <!-- Delete section -->
      <!-- 8 février - à faire plus tard un modal êtes vous sur de vouloir effacer -->
      <td class="pointerFaIcon">
        <fa-icon 
          [icon]="['fa', 'trash-alt']" 
          [spin]="this.faSpinPropGlobe"
          (click)="deleteSection(item.id)"
        >
        </fa-icon>
      </td>
      <td class="pointerFaIcon">
        <fa-icon 
          [icon]="['fa', 'level-up-alt']" 
          [spin]="this.faSpinPropGlobe"
          (click)="upSection(item.id)"
        ></fa-icon>
      </td>
      <td class="pointerFaIcon">
        <fa-icon 
          [icon]="['fa', 'level-down-alt']"  
          [spin]="this.faSpinPropGlobe"
          (click)="downSection(item.id)"
        >
      </fa-icon>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr class="table-dark">
      <th scope="col"><fa-icon [icon]="['fa', 'toggle-off']" [spin]="this.faSpinPropGlobe"></fa-icon> Éléments hors ligne</th>
      <th scope="col" colspan="4"></th>          
    </tr>
  </thead>
  <!-- count *ngIf peut être si ça rend plus joli -->
  <tbody class="table-light">
    <tr 
      *ngFor="let item of sectionHorsLigne; let item = index"
    >
      <th scope="row">
        <span class="textSection">
          <fa-icon class="icon-preview" *ngIf="item.icone != null" [icon]="['fa', item.icone]"></fa-icon>&nbsp;{{ item.nom }}
        </span>
      </th>
      <td class="pointerFaIcon"><fa-icon [icon]="['fa', 'edit']" [spin]="this.faSpinPropGlobe"></fa-icon></td>
      <!-- Delete section -->
      <!-- 8 février - à faire plus tard un modal êtes vous sur de vouloir effacer -->
      <td class="pointerFaIcon">
        <fa-icon 
          [icon]="['fa', 'trash-alt']" 
          [spin]="this.faSpinPropGlobe"
          (click)="deleteSection(item.id)"
        >
        </fa-icon>
      </td>
      <td class="pointerFaIcon">
        <fa-icon [icon]="['fa', 'level-up-alt']" [spin]="this.faSpinPropGlobe"></fa-icon>
      </td>
      <td class="pointerFaIcon">
        <fa-icon [icon]="['fa', 'level-down-alt']"  [spin]="this.faSpinPropGlobe"></fa-icon>
      </td>
  </tr>
</tbody>  
</table>