<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <form #editForm="ngForm" (ngSubmit)="submitForm()" (change)="setDirtyFlag()">
      <div class="form-group">
        <label for="sectionId">Sélection d'une section</label>
        <select 
          class="form-control custom-select"
          id="sectionId" 
          [(ngModel)]="model.sectionId"
          name="sectionId"
        >
          <option 
            *ngFor="let item of section; let i = index"
            [value]="item.id"
          >{{ item.nom }}
          </option>
        </select>      
      </div>
      <div class="form-group">
        <label for="nom">Nom du titre menu</label>
        <input type="nom" class="form-control" id="titre" aria-describedby="titreHelp" placeholder="Veuillez saisir un titre menu (ce nom doit être unique dans la section)" [(ngModel)]="model.nom" name="nom">
        <small 
          id="iconeHelp" 
          class="help text-danger" 
          *ngIf="this.formError.has('Nom')"
        >{{ this.formError.get('Nom') }}</small>
      </div>
      <button 
        type="submit" 
        class="btn btn-primary"
      >Créer titre du menu</button>
    </form>
  </div>
</div>