  <!-- Sidebar -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
        <p>Administration</p>
        <li><!-- </li>class="active">-->
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion pages</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Gestion pages</a>
              </li>                                                                  
          </ul>
      </li>     
    </ul>
</nav>