<table class="table table-borderless" *ngFor="let item of section; let i = index">
  <tbody class="table-light">
  <tr>
  <th scope="row" style="width:60%">
    <span class="textSection">
      <fa-icon class="icon-preview" *ngIf="item.icone != null" [icon]="['fa', item.icone]"></fa-icon>&nbsp;{{ item.nom }}
    </span>
  </th>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-editer
      [sectionItem]="item"
      [disable]="false"
      (outputEdit)="edit($event)"
    ></app-module-gestion-pages-table-btn-editer>
  </td>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-effacer
      [sectionItem]="item"
      [disable]="false"
      (outputDelete)="delete($event)"
    ></app-module-gestion-pages-table-btn-effacer>
  </td>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-monter
      [sectionItem]="item"
      [disable]="i == 0"
      (outputUp)="up($event)"
    ></app-module-gestion-pages-table-btn-monter>
  </td>      
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-descendre
      [sectionItem]="item"
      [disable]="i == section.length - 1"
      (outputDown)="down($event)"
    ></app-module-gestion-pages-table-btn-descendre>
  </td>
</tr>
<tr 
*ngFor="let sousItem of item.titreMenus; let i = index"
>
<th scope="row" style="width:60%">
    <span class="textTitreMenu">
      <fa-icon class="icon-preview" [icon]="['fa', 'puzzle-piece']"></fa-icon>&nbsp;{{ sousItem.nom }}
    </span>
  </th>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-editer
      [sectionItem]="item"
      [titreMenuItem]="sousItem"
      [disable]="false"
      (outputEdit)="edit($event)"
    ></app-module-gestion-pages-table-btn-editer>
  </td>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-effacer
      [sectionItem]="item"
      [titreMenuItem]="sousItem"
      [disable]="false"
      (outputDelete)="delete($event)"
    ></app-module-gestion-pages-table-btn-effacer>
  </td>
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-monter
      [sectionItem]="item"
      [titreMenuItem]="sousItem"
      [disable]="i == 0"
      (outputUp)="up($event)"
    ></app-module-gestion-pages-table-btn-monter>
  </td>      
  <td style="width:10%">
    <app-module-gestion-pages-table-btn-descendre
      [sectionItem]="item"
      [titreMenuItem]="sousItem"
      [disable]="i == item.titreMenus.length - 1"
      (outputDown)="down($event)"
    ></app-module-gestion-pages-table-btn-descendre>
  </td>
</tr>
</tbody>
</table>