<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <form #editForm="ngForm" (ngSubmit)="submitForm()" (change)="setDirtyFlag()">
        <div class="form-group">
          <label for="sousTitreMenuId">Sélection d'un sous titre de menu</label>
          <select 
            class="form-control custom-select"
            id="sectionId" 
            [(ngModel)]="model.sousTitreMenuId"
            name="sectionId"
          >
            <optgroup *ngFor="let itemSection of section; let j = index" [label]="itemSection.nom">
              <ng-container *ngFor="let itemTitreMenu of titreMenu; let k = index">
                <option 
                  disabled 
                  *ngIf="itemTitreMenu.sectionId == itemSection.id || (itemTitreMenu.sectionId === null &&  itemSection.id === 0)"
                >{{itemTitreMenu.nom}}</option>
                <!--<optgroup 
                  *ngIf="itemTitreMenu.sectionId == itemSection.id || (itemTitreMenu.sectionId === null &&  itemSection.id === 0)"
                  [label]="itemTitreMenu.nom"
                >-->
                  <ng-container *ngFor="let item of sousTitreMenu; let i = index">
                    <option 
                      *ngIf="(item.titreMenu.sectionId == itemSection.id || (item.titreMenu.sectionId === null &&  itemSection.id === 0)) && (item.titreMenuId === itemTitreMenu.id || (item.titreMenuId === null &&  itemTitreMenu.id === 0))"
                      [value]="item.id"
                    >{{ item.nom }}
                    </option>
                  </ng-container>
                <!--</optgroup>-->
              </ng-container>
            </optgroup>
          </select>  
        </div>
        <div class="form-group">
          <label for="nom">Nom de l'article</label>
          <input type="nom" class="form-control" id="titre" aria-describedby="titreHelp" placeholder="Veuillez saisir un article (ce nom doit être unique dans le sous titre du menu)" [(ngModel)]="model.nom" name="nom">
          <small 
            id="iconeHelp" 
            class="help text-danger" 
            *ngIf="this.formError.has('Nom')"
          >{{ this.formError.get('Nom') }}</small>
        </div>
      <div class="form-group">
        <textarea 
          class="form-control" 
          rows="5" 
          placeholder="Veuillez saisir le contenu de l'article" 
          id="contenu"  
          [(ngModel)]="model.contenu" 
          name="contenu"
          (input)="valuechange($event)"
        ></textarea>
        <small 
        id="iconeHelp" 
        class="help text-danger" 
        *ngIf="this.formError.has('Contenu')"
      >{{ this.formError.get('Contenu') }}</small>
      </div>
      <div 
        [innerHTML]="markedContenu"
        *ngIf="model.contenu != null"
      ></div>
      <button type="submit" class="btn btn-primary">Créer article</button>
    </form>
  </div>
</div>