<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <ul class="list-unstyled components">
          <p>Administration</p>
          <li><!-- </li>class="active">-->
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion pages</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">Gestion pages</a>
                </li>                                                                  
            </ul>
        </li>     
      </ul>
  </nav>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
    <form #nouveauSousTitre="ngForm">
      <div class="form-group">
        <label for="sectionSelect">Sélection d'une section</label>
        <select class="form-control" id="sectionSelect"[(ngModel)]="model.sectionSelect" name="sectionSelect">
          <option value="hors-ligne">Hors-ligne</option>
          <option value="Developpement web">Developpement web</option>
          <option value="MAO">MAO</option>
        </select>
      </div>
      <div class="form-group">
        <label for="titreSelect">Sélection d'un titre</label>
        <select class="form-control" id="titreSelect"[(ngModel)]="model.titreSelect" name="titreSelect">
          <option value="hors-ligne">Hors-ligne</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sousTitreSelect">Sélection d'un sous titre</label>
        <select class="form-control" id="sousTitreSelect"[(ngModel)]="model.sousTitreSelect" name="sousTitreSelect">
          <option value="hors-ligne">Hors-ligne</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">Nom de l'article</label>
        <input type="nom" class="form-control" id="titreArticle" aria-describedby="titreArticleHelp" placeholder="Veuillez saisir un sous titre" [(ngModel)]="model.titreArticle" name="titreArticle">
        <small id="sousTitreHelp" class="form-text text-muted">Ce titre n'est pas forcément unique, mais doit être unique dans la section / le titre</small>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Veuillez saisir le contenu de l'article" id="article"  [(ngModel)]="model.article" name="article"></textarea>
      </div>
      {{ markedArticle }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
</div>