<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Informatique web</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Visual Studio 2017 Community</p>
          <li><!-- </li>class="active">-->
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">C# - Asp.net core 2.2</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                    <a href="#">Commencer un projet</a>
                  </li>
                  <li>
                    <a href="#">Swagger</a>
                  </li>                  
                  <li>
                      <a href="#">Entity framework</a>
                  </li>
                  <li>
                      <a href="#">DTO</a>
                  </li>
                  <li>
                    <a href="#">Automapper</a>
                  </li>   
                  <li>
                    <a href="#">Filtre et tri</a>
                  </li>   
                  <li>
                    <a href="#">Commandes linux</a>
                  </li>   
                  <li>
                    <a href="#">Intégration continue avec Jenkins</a>
                  </li>                                                                     
              </ul>
          </li>     
          <p>Visual Studio Code</p>
          <li>
            <a href="#page1Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Node.js NPM</a>
            <ul class="collapse list-unstyled" id="page1Submenu">
                <li>
                    <a href="#">Commandes de base</a>
                </li>
                <li>
                  <a href="#">Installer webpack</a>
                </li>                
            </ul>
          </li>   
          <li>
            <a href="#page2Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Node.js TS - Angular 7</a>
            <ul class="collapse list-unstyled" id="page2Submenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
          </li>   
          <p>Linux</p>
          <li>
            <a href="#page3Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Terminal</a>
            <ul class="collapse list-unstyled" id="page3Submenu">
                <li>
                    <a href="#">Commandes utiles</a>
                </li>
                <li>
                    <a href="#">Bricolage .net core 2.2 sans intégration continue</a>
                </li>
                <li>
                    <a href="#">Ajouter un utilisateur</a>
                </li>
            </ul>         
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#page4Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
              <ul class="collapse list-unstyled" id="page4Submenu">
                  <li>
                      <a href="#">Page 1</a>
                  </li>
                  <li>
                      <a href="#">Page 2</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>

  </nav>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">

        texte ici
    </div>
  </div>
</div>