<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur ce site de partages
  </h1>
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>
<!--<h2>Here are some links to help you start: </h2>-->
<div style="text-align:center">
  <button class="btn btn-success buttonFa" (mouseenter)="faSpinPropDesktop = true" (mouseleave)="faSpinPropDesktop = false" routerLink="informatique-web">
    <span class="textButtonFa"><fa-icon [icon]="faDesktop" [size]="faSizeProp" [spin]="faSpinPropDesktop"></fa-icon>&nbsp;Informatique web</span>
  </button>
  <br />
  <button class="btn btn-info buttonFa" (mouseenter)="faSpinPropGlobe = true" (mouseleave)="faSpinPropGlobe = false" (click)="alertify()">
      <span class="textButtonFa"><fa-icon [icon]="faGlobe" [size]="faSizeProp" [spin]="faSpinPropGlobe"></fa-icon>&nbsp;Calcul de son thème astral</span>
  </button>
</div>
<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Partages Web</h1>
    <p class="lead">Viens t'inscrire afin de participer à ce site evolutif</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">S'inscrire</button>
      <button class="btn btn-info btn-lg">En savoir plus</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-success buttonFa" (mouseenter)="faSpinPropDesktop = true" (mouseleave)="faSpinPropDesktop = false" routerLink="admin">
  <span class="textButtonFa"><fa-icon [icon]="faDesktop" [size]="faSizeProp" [spin]="faSpinPropDesktop"></fa-icon>&nbsp;Gestion pages</span>
</button>


<!--
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
