<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
      <form #editForm="ngForm" (ngSubmit)="submitForm()" (change)="setDirtyFlag()">
      <div class="form-group">
        <label for="titreMenuId">Sélection d'un titre de menu</label>
        <select 
          class="form-control custom-select"
          id="sectionId" 
          [(ngModel)]="model.titreMenuId"
          name="sectionId"
        >
          <optgroup *ngFor="let item of titreMenu; let i = index" [label]="item.sectionId">
            <option 
              [value]="item.id"
            >{{ item.nom }}
            </option>
          </optgroup>
        </select>  
      </div>
      <div class="form-group">
        <label for="nom">Nom du sous titre de menu</label>
        <input type="nom" class="form-control" id="titre" aria-describedby="titreHelp" placeholder="Veuillez saisir un sous titre de menu (ce nom doit être unique dans la section)" [(ngModel)]="model.nom" name="nom">
        <small 
          id="iconeHelp" 
          class="help text-danger" 
          *ngIf="this.formError.has('Nom')"
        >{{ this.formError.get('Nom') }}</small>
      </div>
      <button type="submit" class="btn btn-primary">Créer sous-titre de menu</button>
    </form>
  </div>
</div>