.user-data {
    font-size: small;
}

/* Valeurs dont la taille est absolue
font-size: xx-small;
font-size: x-small;
font-size: small;
font-size: medium;
font-size: large;
font-size: x-large;
font-size: xx-large; */