<div class="wrapper">
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content -->
  <div id="content">
    <div class="container-fluid">
    <div class="col-sm-4">
        <h1>Section</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> Vous avez fait des changements. Tous changements non validé seront perdus !
      </div>
    </div>
    <form #editForm="ngForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nom">Nom de la section</label>
        <input type="nom" class="form-control" id="nom" aria-describedby="nomHelp" placeholder="Veuillez saisir un nom" [(ngModel)]="model.nom" name="nom">
        <small id="nomHelp" class="form-text text-muted">Ce nom doit être unique</small>
      </div>
      <div class="form-group">
        <label for="icone">Sélection de l'icone</label>
        <select 
          class="form-control" 
          id="icone" 
          [(ngModel)]="model.icone"
          (ngModelChange)="updateChanges()"
          name="icone"
        >
          <option 
            *ngFor="let item of iconesSelectBox; let i = index"
            [value]="item.faValeur">{{ item.nomSelectBox }}
          </option>
        </select>        
      </div>
      <div *ngIf="model.icone != null">
        <div class="form-group">
          <label for="iconePreview">Preview</label>
          <br />
          <fa-icon 
            class="icon-preview" 
            *ngIf="model.icone != null" 
            [icon]="['fa', model.icone]" 
            [size]="this.faSizeProp">
          </fa-icon>
        </div>
      </div>
      <div class="form-group">
        <label for="typeSelect">Sélection du type</label>
        <select class="form-control" id="typeSelect"[(ngModel)]="model.typeSelect" name="typeSelect">
          <option value="none">Défaut</option>
          <option value="astral">Thème astral</option>
          <option value="forum">Index du forum</option>
        </select>
      </div>
      <button 
        [disabled]="!editForm.dirty" 
        type="submit" 
        class="btn btn-primary"
      >Éditer section</button>
    </form>
  </div>
</div>